# created by virtualenv automatically
.DS_Store
*.toml
**/*.sh
**/*.png
**/*.txt
**/*.npy
data/*
bin
lib
__pycache__/*
.idea/*
*cfg
share/*
log/*
*/log/*
*/*/log/*
*/*pt
*/*pth
*/*ckpt
*ckpt
*pt
*pth
!/experiments/exp1.py
pred/
